.maincontent.sidebar__less {
  width: calc(100vw - 73px);
}

.maincontent {
  width: calc(100vw - 200px);
  height: calc(100vh - 56px);
  box-shadow: inset 0 1.5px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 0 0 24px;
  box-sizing: border-box;
  background: var(--bg-main);
}

/* header */
.maincontent__header {
  height: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  margin: 0 24px 24px 0 ;
}
.maincontent__title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
}

.maincontent__search{
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
}
/* search */
.search {
  display: flex;
}
/* ////////// */
.search__input {
  margin-right: 10px;
}
.input-icon {
  background: var(--url-image2) no-repeat 0 -50px;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
}

/*  */
/*filter*/
.filter {
  cursor: pointer;
  position: relative;
}

.btn__filter:hover {
  background: var(--bg-li);
}
.filter__icon {
  background: var(--url-image2) no-repeat -26px -50px;
  margin-right: 4px;
  box-sizing: border-box;
}

/*add ----block */
.maincontent__add {
  /* display: none; */
}
.btn__add {
  border: 1px solid var(--color-blue5) !important;
}
.add__icon {
  background: var(--url-image2) no-repeat -74px -51px;
  box-sizing: border-box;
  margin-right: 4px;
}

/*  */
.maincontent__act {
  /* display: flex;  */
  display: none;
}
.maincontent__select {
  line-height: 20px;
  padding: 8px 0;
}
.maincontent__number {
  line-height: 20px;
  padding: 8px 0;
  font-weight: 700;
  margin-right: 10px;
  margin-left: 4px;
}

.maincontent__cancel {
  margin-left: 12px;
}
.maincontent__cancel:hover {
  text-decoration: underline;
}

.maincontent__filter {
  margin-left: 12px;
  border: 1px solid var(--color-blue5);
}
.maincontent__filter:hover {
  background: var(--color-blue1);
}
.maincontent__default {
  border: 1px solid var(--border);
  margin-left: 12px;
}
.maincontent__default:hover {
  background: var(--bg-li);
}
.maincontent__delete {
  margin-left: 12px;
  padding: 8px 28px !important;
  border: 1px solid var(--color-red1);
}
.maincontent__delete:hover {
  background: var(--color-red2);
}
