
.navigation {
  grid-area: navigation;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
}
/* -------------------------------------------------------------left-------------------------------------------------------- */
.navigation__left {
  display: flex;
}

.navigation__left-menu {
  background: var(--url-image2) no-repeat -239px 0px;
  margin: 16px;
}
.navigation__left-menu:hover,
.navigation__left-logo:hover {
  cursor: pointer;
}
.navigation__left-logo {
  margin: 10px 0;
}
.navigation__left-logo img {
  width: 36px;
  height: 36px;
}
.navigation__left-title {
  margin: 16px 36px 16px 8px;
}
.navigation__left-title h1 {
  font-weight: 700;
  font-size: 20px;
}
/* -----------------------------------rigth------------------------ */
.navigation__right {
  display: flex;
}
/* ----------------------------------------------------------------- notification--------------------------------------------*/
.navigation__right-notification {
  background: var(--url-image2) no-repeat -288px 0px;
  border-radius: 50%;
  position: relative;
}

.navigation__right-note {
  background: var(--white-color);
  color: var(--color-text);
  padding: 11px;
  line-height: 18px;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(23, 27, 42, 0.24);
}

/* display */
.navigation__right-notification:hover 
.navigation__right-note-notification {
  display: block;
}
.navigation__right-note-notification {
  background: var(--color-toolip); 
  color : var(--white-color) ;
  z-index: 300;
  width: 70px;
  position: absolute;
  top: 27px;
  left: -40px;
  display: none;
}
.navigation__right-note-notification::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--color-toolip) transparent;
  position: absolute;
  top: -16px;
  right: 32px;
}

/*------------------------------------------------------------ instruct-------------------------------------------- */
.navigation__right-instruct {
  background: var(--url-image2) no-repeat -312px 0px;
  border-radius: 50%;
}
.navigation__right-instruct:hover .navigation__right-note-instruct {
  display: block;
}
.navigation__right-note-instruct {
  background: var(--color-toolip); 
  color : var(--white-color) ;
  z-index: 300;
  width: 70px;
  position: relative;
  top: 27px;
  left: -40px;
  display: none;
}
.navigation__right-note-instruct::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--color-toolip) transparent;
  position: absolute;
  top: -16px;
  right: 32px;
}
/*----------------------------------------------------------- instruct----------------------------------------------- */

/* -----------------------------------------------------------regulations-------------------------------------------- */

.navigation__right-regulations {
  background: var(--url-image2) no-repeat -384px -0px;
  border-radius: 50%;
}
/* display */
.navigation__right-regulations:hover .navigation__right-note-regulations {
  display: block;
}
.navigation__right-note-regulations {
  background: var(--color-toolip); 
  color : var(--white-color) ;
  z-index: 300;
  width: 110px;
  position: relative;
  top: 27px;
  left: -55px;
  display: none;
}
.navigation__right-note-regulations::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--color-toolip) transparent;
  position: absolute;
  top: -16px;
  right: 56px;
}
/*--------------------------------------------------------- regulations --------------------------------*/

/* ------------------------------------------------------------setting--------------------------------- */
.navigation__right-setting {
  background: var(--url-image2) no-repeat -144px 0px;
  border-radius: 50%;
  position: relative;
}
/* display */
.navigation__right-setting:hover 
.navigation__right-note-setting {
  display: block;
}
.navigation__right-note-setting {
  background: var(--color-toolip); 
  color : var(--white-color) ;
  z-index: 300;
  width: 112px;
  position: relative;
  top: 27px;
  left: -59px;
  display: none;
}
.navigation__right-note-setting::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--color-toolip) transparent;
  position: absolute;
  top: -16px;
  right: 56px;
}
/* ---------------------------------------------------------------------------------------------click */


/*  */
.navigation__right-setting-list {
  width: 230px;
  background: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 16px rgba(23, 27, 42, 0.24);
  z-index: 99;
  position: absolute;
  top: 51px;
  right: -62px;
  color: var(--color-text);
  cursor: context-menu;
  display: none;
}
.navigation__right-setting-list::before {
  content: "";
  border: 20px solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  top: -27px;
  right: 52px;
}
.navigation__right-setting-list::after{
  content: "";
  border: 30px solid;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  top: -33px;
  right: 39px;
}
.navigation__right-setting-title {
  display: block;
  padding: 12px 24px;
  line-height: 24px;
  font-weight: 700;
  cursor: auto;
  position: relative;
  top: 16px;
}
.navigation__right-setting-item-list{
  margin:16px 0;

}
.navigation__right-setting-item {
  padding: 12px 24px;
  line-height: 24px;
  font-weight: 400;
}
.navigation__right-setting-item:hover {
  cursor: pointer;
  background: var(--primary-li);
}
/* ----------------------------------------------------------setting-------------------------------------------- */
.navigation__right-notification,
.navigation__right-instruct,
.navigation__right-regulations,
.navigation__right-setting {
  margin: 16px 12px;
}
.navigation__right-notification:hover,
.navigation__right-instruct:hover,
.navigation__right-regulations:hover,
.navigation__right-setting:hover,
.navigation__right-avatar:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------avatar----------------------------------------------- */
.navigation__right-avatar {
  width: 32px;
  height: 32px;
  padding: 12px 16px 12px 12px;
  position: relative;
}
.navigation__right-avatar{
  width: 32px;
  height: 32px;
}
.navigation__right-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* ----------------------------------------------------avatar-------------------------------------------------------- */
