
.sidebar__expand{
    width: 200px;
    padding-top: 12px;
    background: var(--white-color);
    grid-area: sidebar__expand;
    box-shadow: inset 0 1.5px 2px 0 rgba(0,0,0,.1);
    z-index: 100;
    position: relative;
}

/* ================================================ */
.sidebar__expand.sidebar__less{
    width: 73px;
    padding-top: 0;
}
.sidebar__expand.sidebar__less .sidebar__box{
    overflow-y: inherit;
}
.sidebar__expand.sidebar__less .sidebar__expand-list{
    max-height: 100%;
    margin: 20px 13px 12px 12px;
}
.sidebar__expand.sidebar__less .sidebar__expand-item {
    padding: 10px 12px;
    margin-bottom: 4px;
    border-radius: var(--border-radius);
    /* display: block; */
    position: relative;
}
.sidebar__expand.sidebar__less .sidebar__expand-item:hover .sidebar__expand-item-name{
    display: block;
}
.sidebar__expand.sidebar__less .sidebar__expand-item-name {
    width: 94px;
    background: var(--white-color);
    box-shadow: inset 0 1.5px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 12px 16px 11px;
    z-index: 500;
    position: absolute;
    left : 54px ;
    top:3px ;
    display: none;
}

.sidebar__expand.sidebar__less .sidebar__expand-item-name::before{
    content: "";
    border: 10px solid ; 
    border-color: transparent var(--white-color) transparent transparent;
    position: absolute;
    top: 9px;
    right: 120px;
}
.sidebar__expand.sidebar__less .sidebar__expand-btn {
    width: 73px;
    position: absolute;
    bottom: 0;
}

.sidebar__expand.sidebar__less .sidebar__expand-btn-icon{
    transform: rotate(180deg);
    transition: .5s;
}
.sidebar__expand.sidebar__less .sidebar__expand-item-arrow,
.sidebar__expand.sidebar__less .sidebar__expand-btn-text {
  display: none;
}
/* =============================================================*/
.sidebar__box{
    height: calc(100% - 70px);
    position: relative;
    overflow-y: scroll;
}
.sidebar__list{
    max-height: 44px;
    margin:  12px;
}
.sidebar__item{
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    padding: 10px 12px;
    line-height: 24px;
    margin-bottom: 4px;
    border-radius: var(--border-radius);
}

.box__sidebar{
   border : 1px solid #ddd ;
   margin-bottom: 4px;
}
.sidebar__icon{
    background: var(--url-image2) no-repeat 0 0;
    height: 24px;
}
.sidebar__icon1{
    background: var(--url-image2) no-repeat -50px 0;
}
.sidebar__icon2{
    background: var(--url-image2) no-repeat -72px 0;
}
.sidebar__icon3{
    background: var(--url-menu) no-repeat -2px 0;
}
.sidebar__icon4{
    background: var(--url-image2) no-repeat -24px 0;
}
.sidebar__icon5{
    background: var(--url-image2) no-repeat -194px -24px;
}
.sidebar__icon6{
    background: var(--url-image2) no-repeat -98px 0;
}
.sidebar__icon7{
    background: var(--url-image2) no-repeat -122px 0;
}
.sidebar__icon8{
    background: var(--url-image2) no-repeat -144px 0;
}
.sidebar__icon9{
    background: var(--url-guide) no-repeat -1px 0;
}

.sidebar__item.active {
    background: var(--primary-bg);
}
.sidebar__item:hover {
    cursor: pointer;
    background: var(--primary-li);
}
.sidebar__item:hover
.sidebar__name{
    color : var(--primary-color) ;
}
.sidebar__name{
    line-height: 24px;
    font-weight: 500;
    margin-left: 12px;
}
.sidebar__arrow{
    background: var(--url-image2) no-repeat -167px -1px;
}
.sidebar__item:hover .bg-arrow{
    background: var(--url-image2) no-repeat -167px -25px;
}

.sidebar__item:hover
.sidebar__icon{
    background: var(--url-image2) no-repeat 0 -24px;
}
.sidebar__item:hover
.sidebar__icon1{
    background: var(--url-image2) no-repeat -50px -24px;
}
.sidebar__item:hover
.sidebar__icon2{
    background: var(--url-image2) no-repeat -72px -24px;
}
.sidebar__item:hover
.sidebar__icon3{
    background: var(--url-decision) no-repeat -2px 0;
}
.sidebar__item:hover
.sidebar__icon4{
    background: var(--url-image2) no-repeat -24px -24px;
}
.sidebar__item:hover
.sidebar__icon5{
    background: var(--url-image2) no-repeat -218px -24px;
}
.sidebar__item:hover
.sidebar__icon6{
    background: var(--url-image2) no-repeat -98px -24px;
}
.sidebar__item:hover
.sidebar__icon7{
    background: var(--url-image2) no-repeat -122px -24px;
}
.sidebar__item:hover
.sidebar__icon8{
    background: var(--url-image2) no-repeat -144px -24px;
}
.sidebar__item:hover
.sidebar__icon9{
    background: var(--url-guider) no-repeat -1px 0;
}

.sidebar__btn{
    width: 176px;
    margin: 0 12px;
    background: var(--bg-li);
    border-radius: 8px;
    position: absolute;
    bottom: 24px;
}
.sidebar__btn:hover{
    cursor: pointer;
    opacity: 0.6;
}
.btn__sidebar{
    height: 48px !important;
    justify-content: flex-start !important;
    padding: 12px 24px !important;
}
.sidebar__btn-icon{
    background: var(--url-image2) no-repeat -191px 0;
}
.sidebar__btn-text{
    line-height: 24px;
    text-align: center;
    margin-left: 16px;    
}