.btn-icon {
  height: 36px;
  display: flex;
  justify-content: center;
  padding: 8px 16px 8px 12px;
  cursor: pointer;
}

/* filter */
.btn__filter{
  background: var(--white-color);
  border: 1px solid var(--border);
}
.btn__filter:hover{
  cursor: pointer;
  background: var(--bg-li);
}
.filter__icon{
  background: var(--url-image2) no-repeat -26px -50px;
}
/* add */
.btn__add{
  border  : 1px solid var(--color-blue4) ;
  background: var(--color-blue4);
}
.add__icon {
  background: var(--url-image2) no-repeat -73px -51px;
}
.add__name {
  color: var(--white-color);
}

/* link */
.btn__link {
  height: 36px;
  padding: 8px 0;
  border: none;
  background: var(--bg-main);
}
.btn__link p{
  color: var(--color-blue5);
}
.btn__link:hover{
  text-decoration: underline;
  color: var(--color-blue5);
}
/* main */
.btn__main {
  height: 36px;
  background: var(--white-color);
  padding: 8px 16px;
  cursor: pointer;
}
/*  */
.btn__use{
  border: 1px solid var(--color-blue5) ;
}
.btn__use:hover{
  background: var(--color-blue1);
}

.btn__stopuse{
  border : 1px solid var(--border) ;
}
.btn__stopuse:hover{
  background: var(--bg-li);
}

.btn__delete{
  border: 1px solid var(--color-red1);
  padding: 8px 28px;
}
.btn__delete:hover{
  background: var(--color-red2);
}


.btn__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--color-text);
}