
.icon { 
    width: var(--value-with);
    height: var(--value-height);
    padding: var(--value-padding);
}
.item-icon{
    width: var(--value-item-icon);
    height: var(--value-item-icon);
    padding: 0 10px 12px 0;
}