
/* display */
.popup__filter{
    position: absolute;
    top:50px ; 
    right: -55px;
    display: none;
}

.popup__filter::before {
    content: "";
    border: 40px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -50px;
    right: 75px;
}
.popup__filter::after{
    content: "";
    border: 46px solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    top: -24px;
    right: 55px;
}
.search__filter .popup{
    width: 416px;
    background: var(--white-color);
    box-shadow: 0 0 16px rgba(23, 27, 42, 0.24);
    z-index: 100;
}
.popup__title{
    align-items: left;
    color : var(--color-tilte) ;
}
.popup__close{
    background: var(--url-image2) no-repeat -192px -44px;
}
.box{
    border-top : 1px solid var(--border) ;
}

.popup__footer{
    background: var(--white-color);
}
.btn__cancel{
    padding: 8px 28px;
    border : 1px solid var(--bg-li) ;
}
.btn__cancel:hover { 
    background: var(--bg-li);
}
.btn__apply{
    background: var(--color-blue4);
    border : 1px solid var(--color-blue4) ;
    color:var(--white-color) ;
}