.inputfield {
  height: 36px;
  width: 260px;
  padding: 8px 8px 8px 12px;
  color: var(--color-title);
  background: var(--white-color);
  outline: none;
  border: 1px solid var(--border);
}
::placeholder {
  font-size: 14px;
  color: var(--color-grey5);
}
.input__content {
  width: 260px;
}
.input__content:focus {
    border: 1px solid var(--color-blue5);
}
.input__content:hover {
    border: 1px solid var(--color-blue5);
}
.input__icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
.input__search {
  background: var(--url-image2) no-repeat -1px -49px;
}
.input__prev {
  background: var(--url-image2) no-repeat -170px -2px;
}
