
@import url(./component/boxcheck.css);
@import url(./component/notification.css);
@import url(./component/usermenu.css);
/* @import url(./component/addemulation.css); */
/* @import url(./component/updateemulation.css); */

@import url(./color.css);
@import url(./config.css);
@import url(./url.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body , html{
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
p {
  margin: 0;
}
a{
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
*{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
::-webkit-scrollbar {
  background: var(--white-color);
  width: 8px;
}
::-webkit-scrollbar-thumb {
    z-index: 200;
  background: #cdd3d6;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
}
.text-center {
  text-align: center;
}

/* .text-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
} */
.icon { 
  width: var(--value-with);
  height: var(--value-height);
  padding: var(--value-padding);
}
.item-icon{
  width: var(--value-item-icon);
  height: var(--value-item-icon);
  padding: 0 10px 12px 0;
}


